@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="backgroundHome">
    <div class="editMain-home">
        <h1 class="editMain-home-text">Wellcome</h1>
        <img class="editMain-home-pic" src="./images/Store.png" alt="My main store" width=250px>
    </div>
</body>
